/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: var(--text-size, 18px);
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-variation-settings: 'wght' var(--text-font-weight, 400);
  background-color: var(--accent-color, #fff);
  color: var(--main-color, #000);
  background-image: var(--background-gradient, none);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin-inline: auto;
  margin-block: 100px;
  max-inline-size: 700px;
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-weight: var(--text-font-weight, 400);
  background-color: var(--accent-color, #fff);
  border: 2px solid var(--main-color, #000);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.header__main-title {
  font-weight: var(--text-font-weight, 400);
  font-size: var(
    --main-title-size,
    clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem)
  );
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header__subtitle {
  font-weight: var(--text-font-weight, 400);
  text-transform: uppercase;
  font-size: var(
    --subtitle-size,
    clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem)
  );
}

.theme-menu {
  width: fit-content;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 20px;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease;
  padding: 0;
  cursor: pointer;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -24px;
  inset-block-start: 0px;
  animation: drag-arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s;
  transform-origin: left;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  border: 0;
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s;
  transform-origin: left;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-space, 50px);
  align-items: center;
  margin-bottom: 50px;
}

.filter-saturate-blur {
  filter: saturate(60%) blur(2px);
}

.filter-saturate {
  filter: saturate(30%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-brightness {
  filter: brightness(0.4);
}

.filter-blur {
  filter: blur(2px);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-mix {
  filter: sepia(30%) brightness(0.4) contrast(120%);
}

.card {
  max-inline-size: 700px;
  background-color: var(--accent-color, #fff);
  border: 2px solid var(--main-color, #000);
}

.card__header-title {
  font-size: var(--text-size, 18px);
  font-variation-settings: 'wght' var(--header-font-weight, 700);
  padding: 4px 10px;
  line-height: calc(21 / 18);
  border-block-end: 2px solid var(--main-color, #000);
}

.card__logo {
  position: relative;
  padding: 0;
  margin: 0;
}

.card__logo-img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__label {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-size: 14px;
  text-shadow: -1px -1px 0 var(--accent-color, #fff),
    0 -1px 0 var(--accent-color, #fff), 1px -1px 0 var(--accent-color, #fff),
    1px 0 0 var(--accent-color, #fff), 1px 1px 0 var(--accent-color, #fff),
    0 1px 0 var(--accent-color, #fff), -1px 1px 0 var(--accent-color, #fff),
    -1px 0 0 var(--accent-color, #fff);
  filter: opacity(50%);
  z-index: 2;
}

@supports (
  (text-stroke: 1px var(--accent-color, #fff)) or
    (-webkit-text-stroke: 1px var(--accent-color, #fff))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--accent-color, #fff);
    text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 27px 25px 0px 25px;
  width: 100%;
  border-block-start: 2px solid var(--main-color, #000);
  line-height: calc(21 / 18);
}

.btns {
  display: flex;
  margin: 25px 25px 23px;
  gap: 4px;
  justify-content: flex-end;
  align-items: center;
}

.card__icon-button {
  background-color: var(--accent-color, #fff);
  border: 2px solid var(--accent-color, #fff);
  padding: 0;
  display: flex;
  align-items: center;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color, #000);
  transition: border 0.3s ease;
}

.card__like-button:focus,
.footer__btn:focus,
.card__like-button:focus-visible,
.footer__btn:focus-visible,
.dialog__close-btn:focus-visible {
  outline: none;
  box-shadow: 1px 1px 0 var(--main-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  background-color: var(--accent-color, #fff);
  border: 2px solid var(--main-color, #000);
  min-width: 130px;
  min-height: 38px;
  transition: box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}

.card__like-button::before,
.footer__btn::before,
.dialog__close-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color, #000);
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:hover::before,
.footer__btn:hover::before,
.dialog__close-btn:hover::before {
  background-color: var(--main-color, #000);
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--btn-text-color, #fff);
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: 105px;
}

.floppy {
  width: 21px;
  height: 21px;
  color: var(--btn-text-color, #fff);
  mix-blend-mode: difference;
  transition: 0.5s ease-in-out;
}

.footer__btn {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  width: 340px;
  min-height: 55px;
  border: 2px solid var(--main-color, #000);
  background-color: var(--accent-color, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.dialog {
  font-family: var(--accent-font, 'PressStart2P', sans-serif);
  font-size: 14px;
  background-color: var(--accent-color, #fff);
  border: 2px solid var(--main-color, #000);
  z-index: 1;
  padding: 0;
}

.dialog[open]::backdrop {
  background: #000;
  opacity: 0.75;
  z-index: 1;
}

.dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.dialog__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.dialog__container .floppy {
  width: 40px;
  height: 40px;
}

.dialog__title {
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color, #000);
  line-height: 150%;
  text-transform: uppercase;
  max-width: 234px;
}

.dialog__close-btn {
  margin-bottom: 28px;
  padding: 10px 130px;
  border: 2px solid var(--main-color, #000);
  background-color: transparent;
  color: var(--main-color, #000);
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

@media (width <= 375px) {
  .floppy {
    min-width: 28px;
    min-height: 28px;
  }

  .footer {
    margin-inline: 33px;
  }

  .footer__btn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 15px;
  }

  .dialog[open] {
    margin: 238px 17px;
  }

  .dialog__container .floppy {
    max-width: 90px;
  }

  .dialog__container {
    margin: 30px 42px 0px;
    gap: 18px;
    justify-content: center;
  }

  .dialog__close-btn {
    padding: 10px 112px;
    position: relative;
  }
}
